.admin-panel {
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.admin-actions {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.admin-searchbar {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.admin-searchinput {
    border: 2px solid #B78996;
    border-radius: 2px;
    margin-bottom: 10px;
}

.admin-filter {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    margin-right: 100px;
}


.admin-users {
    margin: 10px;
}

.usertable {
    width: 100%;
}

.usertable .table-checkbox {width: 20px}
.usertable .table-username {width: 150px}
.usertable .table-status {width: 100px}
.usertable .table-action {width: 200px}

.usertable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.usertable tr {
    text-align: left;
}

.usertable tr:hover {
    background-color: #f5f5f5;
}

/*div {
    border: 1px solid black;
}*/
