/* Overall chat-screen */
.chat {
    text-align: center;
    padding: 15px 0;
    width: 100%
}

.chat-left {
    float: left;
    width: 20%;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;

}
.chat-recent, .chat-history {
    border-radius: 20px;
    width: 100%;
    background-color: white;
}

/* List of chats. */
.chat-recent {
    height: 600px;
    overflow-y: auto;
    padding: 10px;
    text-align: left;
}

.chat-conversation {
    margin: 5px;
}

.chat-right {
    width: 75%;
    vertical-align: bottom;
    float: right;
    margin-right: 10px;
}

/* Chat history. */
.chat-history {
    height: 600px;
    overflow-y: auto;
    padding-bottom: 10px;
}

.chat-message {
    width: 100%;
    min-height: 40px;
    padding-top: 10px;
    clear: both;
}

.chat-message-self, .chat-message-other {
    text-align: left;
    border-radius: 20px;
    padding: 10px 12px;
    max-width: 45%;
}

.chat-message-self {
    float: right;
    margin-right: 10px;
    background-color: darkgreen;
    color: white;
}

.chat-message-other {
    float: left;
    margin-left: 10px;
    background-color: aquamarine;
}

/* Chat reply field */

.chat-field {
    padding: 15px;
}

.chat-field input {
    border-radius: 8px;
}

.chat-field input[type="text"] {
    width: calc(100% - 80px);
}

.chat-field input[type="submit"] {
    width: 60px;
    background-color: #845663;
    color: white;
    padding: 5px;
}