.chat {
    text-align: center;
}

.chat-history {
    /*border: solid #845663;*/
    width: 80%;
    height: 500px;
    margin: 20px auto;
    background-color: white;
    vertical-align: bottom;
}

.chat-field input {
    border-radius: 8px;
}

.chat-field input[type="text"] {
    width: calc(75% - 60px);

}

.chat-field input[type="submit"] {
    width: 60px;

}
.chat-message {
    width: 100%;
    height: 40px;
    padding-top: 10px;
}

.chat-message-self, .chat-message-other {
    border-radius: 20px;
    padding: 10px 12px;
    min-width: 10%;
    max-width: 45%;
}

.chat-message-self {
    text-align: right;
    float: right;
    margin-right: 10px;
    background-color: darkgreen;
    color: white;
}

.chat-message-other {
    text-align: left;
    float: left;
    margin-left: 10px;
    background-color: aquamarine;
}