body {
    background-color: white;
    color: #333;
    font-family: Arial;
}

::selection {
    background: #845663;
    color: white;
}

::-moz-selection {
    background: #845663;
    color: white;
}
