/*-----------------------------------------------------------------------------
Default Stylesheet

last update:    10-01-2017
Website:        myhyvesbookplus.tk
-----------------------------------------------------------------------------*/

.profile-picture {
    border-radius: 50%;
    height: 42px;
    width: 42px;
    object-fit: cover;
    vertical-align: middle;
}

body {
    background-color: #B78996;
    color: #333;
    font-family: Arial, sans-serif;
}

.content {
    margin-top: 80px;
    margin-left: 256px;
}

::selection {
    background: #845663;
    color: white;
}

::-moz-selection {
    background: #845663;
    color: white;
}

/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}


input[type="text"] {
    padding: 5px;
}

/* Move element down (clear), below floating elements */
.clear {
    clear: both;
}

/* Float element to the left side of its containing block */
.right {
    float: right;
}

/* Float element to the left side of its containing block */
.left {
    float: left;
}

/* Font sizes */
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p {
    font-size: 1.2em;
}

a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* Tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}
