.settings input,
.settings textarea {
    margin: 5px;
    resize: none;
}

.settings label {
    width: 175px;
    display: inline-block;
    text-align: right;
}

/* All the fields for typing things. */
.settings input[type="password"],
.settings input[type="text"],
.settings input[type="date"],
.settings input[type="email"],
.settings textarea {
    width: 200px;
}

.settings textarea {
    width: 400px;
}

.settings label[for="bio"] {
    vertical-align: middle;
}