.settings {

}

.settings input {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    width: 200px;
}

.settings label {
    width: 125px;
    display: inline-block;
    text-align: right;
}

.settings input[type="password"],
.settings input[type="text"],
.settings input[type="date"] {
    border: 1px solid black;
}

.settings-password {

}

.settings-profile {

}