.admin-panel {
    min-width: 800px;
}

.admin-panel input[type="radio"], input[type="checkbox"] {
    vertical-align: middle;
    height: auto;
    margin: 2px;
}

.admin-searchform {
    display: inline-block;
    width: 100%;
}

.admin-searchbar {
    margin-bottom: 20px;
}

.admin-pageui {
    display: inline-block;
    width: 100%;
}

.admin-pageselector {
    display: inline-block;
}

.admin-users {
    margin-top: 50px;
}

.usertable {
    width: 100%;
}

.usertable .table-checkbox {width: 20px}
.usertable .table-username {width: 150px}
.usertable .table-status {width: 100px}
.usertable .table-action {width: 200px}

.usertable th, td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

.usertable tr {
    text-align: left;
}

.usertable tr:hover {
    background-color: #f5f5f5;
}
