a.button {
    background-color: #C8CABD;
    border-radius: 10px;
    color: black;
    cursor: pointer;
    height: 50%;
    margin: 8px 0;
    padding: 14px 20px;
    width: 25%;
    font-family: Arial;
    font-size: 16px;
}

/* Body */
body {
    height: 100%;
    background-color: #C8CABD;
    /*background-image: url(http://play.pokemonshowdown.com/fx/client-bg-shaymin.jpg);
    background-size: cover;
    background-attachment: fixed;*/

    /*background-color: #B78996;*/
    color: #333;
    font-family: Arial, sans-serif;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
    color: white;
    font-size: 100px;
    font-weight: bold;
    position: absolute;
    right: 25px;
    top: 0;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* inlogform */
form {
    /*background-color: #a87a87;*/
    border-radius: 12px;
    height: 70%;
    margin: auto;
    width: 70%;
    overflow-y:auto;
}

/* inlog titel */
h1 {
    padding: 8px;
    text-align: center;
    font-size: 1.5em;
}

/* registreer titel*/
h2 {
    padding: 16px;
    text-align: left;
    font-size: 2.0em;
}


input[type=text], input[type=password], input[type=email], input[type="date"] {
    box-sizing: border-box;
    border-color: #C8CABD;
    display: inline-block;
    height: 60%;
    padding: 8px 20px;
    margin: 4px 0;
    width: 70%;
}
/*
input[type=text], input[type=password], input[type=email], input[type="date"] {
    border: 0px;
    border-bottom: 4px solid lightgray;
    border-radius: 0px;
}*/

button[type=submit] {
    background-color: #C8CABD;
    color: black  ;
    cursor: pointer;
    font-family: Arial;
    font-size: 16px;
    width: 50%;
}

.error {
    font-family: Arial;
    font-size: 15px;
    color: red;
}

label {
    display: block;
}

.left-arrow {
    display: inline-block;
    position: relative;
    background-color: #C8CABD;
    height: 30px;
    width: 90px;
    padding: 3px 3px 3px 0px;
    text-align: center;
    border-radius: 0px 10px 10px 0px;
    font-size: 24px;

}
.left-arrow:after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    bottom: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid #C8CABD;
    border-bottom: 15px solid transparent;
    border-left: 0px solid transparent;
}

/* padding voor registreer container */
.login_containerregister {
    padding: 16px;
    text-align: left;
}

/* padding voor login_containers */
.login_containerlogin {
    padding:25px;
    text-align: center;
}

/* padding voor foutmelding login */
.login_containerfault {
    padding: 16px;
    text-align: center;
    color: red;
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* White boxes (squares) */
.platform {
    background-color: #FFFFFF;
    /*background-image: url(http://www.planwallpaper.com/static/images/518071-background-hd_xO1TwRc.jpg);
    background-size: cover;
    background-repeat: repeat-x;
    background-attachment: fixed;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 500px;
    margin: 34px auto;
    overflow-y: auto;
    padding: 20px;
    width: 50%;
}

/*.platform {
  width: 40%;
  margin: 34px auto;
}*/

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

ul {
    font-family: Arial;
    font-size: 16px;
}
