/*-----------------------------------------------------------------------------
Default Stylesheet

last update:    13-01-2017
Website:        myhyvesbookplus.tk
-----------------------------------------------------------------------------*/

/* Remove padding and margin */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #EEE;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Font sizes */
h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.0em;
    color: #666;
}

ul {
    list-style-type: none;
}

p {
    font-size: 1.2em;
}

/* Selection colors */
::selection {
    background: #FBC02D;
    color: white;
}

::-moz-selection {
    background: #FBC02D;
    color: white;
}

/* All content underneath the menu */
.content {
    padding: 20px;
    margin-top: 80px;
    margin-left: 256px;
    min-height: 100%;
}

/* White boxes (squares) */
.platform {
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.profile-picture, .group-picture {
    height: 42px;
    width: 42px;
    object-fit: cover;
    vertical-align: middle;
}

.profile-picture {
    border-radius: 50%;
}

.group-picture {
    border-radius: 5px;
}

.item-box, .item-box-full-width {
    padding: 25px;
    background-color: #FFFFFF;
}

.item-box {
    width: calc(33% - 50px);
    display: inline-table;
}

@media only screen and (max-width: 1400px) {
    .item-box {
        width: calc(100% - 50px);
    }
}

.item-box-full-width {
    width: calc(100% - 50px);
}

/* Move element down (clear), below floating elements */
.clear {
    clear: both;
}

/* Float element to the left side of its containing block */
.right {
    float: right;
}

/* Float element to the left side of its containing block */
.left {
    float: left;
}

/* All links */
a, a:link, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

/* All buttons, inputfields/selectfields. */
button, input, select {
    width: auto;
    height: 32px;
    cursor: pointer;
    border: none;
    font-size: 16px;
    transition-duration: 250ms;
}

/* All textinput and sections */
textarea, input, select {
    padding: 0 5px;
    background: white;
    color: #333333;
    border-radius: 5px;
    border-bottom: 1px solid #4CAF50;
    font-size: 16px;
    outline: none;
    transition-duration: 250ms;
}

textarea {
    padding: 5px;
    resize: none;
}

textarea:hover, input:hover, select:hover {
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12);
}

textarea:focus, input:focus, select:focus {
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/* All buttons */
button.red {
    background-color: firebrick;
}

button.green {
    background-color: forestgreen;
}

button.gray{
    background-color: #FFF;
    color: #333;
}

button,
input[type="submit"],
input[type="reset"] {
    background-color: #FBC02D;
    color: white;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
}

button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none;
}

button:active,
input[type="submit"]:active,
input[type="reset"]:active {
    outline: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

input[type="radio"] {
    border-radius: 100%;
}

/* Tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td {
    text-align: left;
    font-weight: normal;
}

/* Custom title box, appears instantaneously */
a[data-title]:hover,
i[data-title]:hover,
img[data-title]:hover,
span[data-title]:hover,
div[data-title]:hover {
    position: relative;
}

a[data-title]:hover:after,
i[data-title]:hover:after,
img[data-title]:hover:after,
span[data-title]:hover:after,
div[data-title]:hover:after {
    content: attr(data-title);
    padding: 7px 7px;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    top: 150%;
    z-index: 200;
    white-space: nowrap;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #333;
    font-size: 15px;
    line-height: normal;
    font-family: Arial, sans-serif;
}

.friend-item, .group-item {
    cursor: pointer;
    transition-duration: 250ms;
}

.friend-item button, .group-item button {
    background: none;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left;
}

.friend-item:hover, .group-item:hover {
    background: #FBC02D;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.friend-name {
    display: inline-block;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #4CAF50;
}