.menu {
    position: fixed;
    z-index: 50;
    overflow-y: auto;

    left: 0;
    top: 80px;
    height: calc(100% - 80px);
    width: 236px;

    padding: 20px 10px;
}

.menu section {
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu h4 {
    padding: 10px;
}

.nav-list li {
    padding: 5px 20px;
    border-radius: 4px;
}

.more-item {
    padding: 5px 20px;
    color: #666;
    font-size: 14px;
    cursor: pointer;
}

.friend-item, .group-item {
    cursor: pointer;
    transition-duration: 250ms;
}

.friend-item:hover, .group-item:hover {
    background: #FBC02D;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu button {
    background: none;
    color: inherit;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: left;
}

#notification-center {
    left: auto;
    width: 236px;
    right: -256px;
}

#quick-links {
    text-align: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

#quick-links i {
    color: #4CAF50;
    font-size: 42px;
    padding: 7px;
    transition-duration: 250ms;
}

#quick-links i:hover {
    color: #FBC02D;
}