body {
    background-color: #FBC02D;
}

.password-change {
    height: 100%;
    margin: auto;
}

.top-logo {
    text-align: center;
}

.item-box {
    margin: 30px auto auto;
    display: block;
}
.top-logo img {
    width: 50%;
}

.error-page {
    text-align: center;
}

.error-page img {
    vertical-align: middle;
}