.password-change {
    height: 100%;
    background-color: #FBC02D;
    margin: auto;
}

.top-logo {
    text-align: center;
}

.item-box {
    margin: 30px auto auto;
    display: block;
}
.password-change img {
    width: 50%;
}
