.settings .item-box {
    display: inline-flex;
}

.settings-password {
    margin-right: 15px;
}


.settings li {
    margin: 5px;
}

.settings textarea {
    resize: none;
}

.settings label {
    width: 175px;
    display: inline-block;
    text-align: right;
}

/* All the fields for typing things. */
.settings input[type="password"],
.settings input[type="text"],
.settings input[type="date"],
.settings input[type="email"] {
    width: 200px;
}

.settings textarea {
    width: calc(100% - 350px);
}